body
{   font-family: 'Lato', sans-serif;
    width: 100%;
    height: auto;
background: white;
margin-right: auto;
margin-left: auto;}
    

    #nagłówek
    {text-align: center;
    color: darkblue;}

    #menu{
        width: auto;
      
    }

    .option{
    float: left;
    margin: 20px;
    font-size:28px;
    text-decoration: none;
    }
    
.zdjęcie{
    margin 0 auto;
    transition: transform .5s;
     max-width: 80vmin;
     margin: 5px;}

    .zdjęcie:hover{transform: scale(1.2);
max-width: 100vmin}

#galeria{display: flex;
flex direction: row;
flex-wrap: wrap;
justify-content: center;}

    a:link, a:visited{text-decoration: none;
    color: darkblue;}

    #foto
    {float: left;
      
    margin-right: 20px;
    min-height: 100vmin;
    min-width: 100vmin;
    max-width: 100%; 
    max-height:100%
}

    .foto-strony
    {float: left;  
     height: auto;
     width: 100vmin;   
              }

    .content{color: steelblue;
            padding: 10px;
            margin-right: 15px;
            text-align: justify;
            border-left:10px;}

     #przycisk
     {border:none;
     width: 100px;
     height: 50px;
     border-radius: 10%;
     background: steelblue;
}
   
 
